In [67]:
import pandas as pd
import numpy as np
from datetime import date

import matplotlib.pyplot as plt
import matplotlib


from main import CalculateAmortization


matplotlib.style.use('ggplot')
def g(x):
    return x
def f(x):
    return x**2

#By calling our calculateAmortization method we can run our amortization calculation and construct the table
rawdata = CalculateAmortization(5, 10, 12, 20000).execute()

insterestPortion = rawdata["Interest Portion"][1:120] 
principalPortion = rawdata["Principal Portion"][1:120]

rawdata

     Installment Amount  Interest Portion  Principal Portion  Balance Due
0                  0.00              0.00               0.00     20000.00
1                212.13             83.33             128.80     19871.20
2                212.13             82.80             129.33     19741.87
3                212.13             82.26             129.87     19611.99
4                212.13             81.72             130.41     19481.58
..                  ...               ...                ...          ...
116              212.13              4.36             207.77       839.76
117              212.13              3.50             208.63       631.13
118              212.13              2.63             209.50       421.63
119              212.13              1.76             210.37       211.25
120              212.13              0.88             211.25        -0.00

[121 rows x 4 columns]

In [68]:
#show first 10 period
rawdata.head(10)

   Installment Amount  Interest Portion  Principal Portion  Balance Due
0                0.00              0.00               0.00     20000.00
1              212.13             83.33             128.80     19871.20
2              212.13             82.80             129.33     19741.87
3              212.13             82.26             129.87     19611.99
4              212.13             81.72             130.41     19481.58
5              212.13             81.17             130.96     19350.62
6              212.13             80.63             131.50     19219.12
7              212.13             80.08             132.05     19087.07
8              212.13             79.53             132.60     18954.47
9              212.13             78.98             133.15     18821.31

In [69]:
#show last 10 period
rawdata.tail(10)

     Installment Amount  Interest Portion  Principal Portion  Balance Due
111              212.13              8.64             203.49      1870.00
112              212.13              7.79             204.34      1665.67
113              212.13              6.94             205.19      1460.47
114              212.13              6.09             206.05      1254.43
115              212.13              5.23             206.90      1047.52
116              212.13              4.36             207.77       839.76
117              212.13              3.50             208.63       631.13
118              212.13              2.63             209.50       421.63
119              212.13              1.76             210.37       211.25
120              212.13              0.88             211.25        -0.00